@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "colors";
@import "notifications";
@import "buttons";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins" sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $dark;
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;

    .toast {
      width: 100%;
      font-size: 1rem;
      margin-left: 20px;
    }
  }

  .buttons {
    .btn {
      margin: 0 1px;
      font-size: 1.1rem;
      padding: 8px 15px;
    }
  }
}

@media screen and (max-width: 355px) {
  .notifications {
    width: 90%;

    .toast {
      width: 100%;
      font-size: 1rem;
      margin-left: 20px;
    }
  }

  .buttons {
    .btn {
      margin: 0 1px;
      font-size: 1.1rem;
      padding: 4px 7px;
    }
  }
}
